/* Estilo general */
body {
  font-family: 'Bree Serif', serif;
  background: #2F354A;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero-image {
  background-image: url('magallanes.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
}

h1 {
  font-family: 'League Gothic', sans-serif;
  font-size: 70px;
  color: #DC4719;
}

.subtitle {
  font-family: 'League Gothic', sans-serif;
  font-size: 40px;
  color: #DC4719;
}

.bajada {
  font-size: 18px;
  line-height: 1.8;
  margin: 20px 0;
  text-align: justify;
}

/* Botón */
button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background: #FF808B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background: #DC4719;
}

/* Secciones Generales */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  background: #FFFFFF;
  color: #2F354A;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'League Gothic', sans-serif;
  color: #DC4719;
  text-align: center;
  font-size: 3em;
}

p {
  font-size: 18px;
}

/* Alineación de imágenes en la sección Especialistas por Región */
.visualization {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Asegura que los elementos estén alineados al principio */
  margin-top: 30px;
  flex-wrap: wrap; /* Asegura que se ajusten bien en pantallas pequeñas */
}

.visualization img {
  width: 45%; /* Las imágenes ocupan el 48% del ancho */
  border-radius: 10px;
  margin-bottom: 20px; /* Añadido margen inferior para separación entre imágenes y texto */
}

.visualization-text {
  width: 45%; /* El texto ocupa el 48% del espacio */
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px; /* Añadido margen inferior */
}

.visualization-text h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 2em;
  color: #DC4719;
}

.visualization-text p {
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  color: #FFFFFF;
  text-align: justify;
}

/* Footer */
footer {
  background-color: #F3F2FE;
  padding: 20px;
  text-align: center;
  color: #2F354A;
}

footer a {
  color: #2F354A;
  text-decoration: none;
}
